.SearchBox {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  font-size: 1.25rem;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}

input {
  font-size: 1rem;
  padding: 3px 6px;
}

.SearchBox label {
  display: flex;
  align-items: center;
  gap: 1em;
}
